<form class="flexcol" autocomplete="off">
    <section>
        <header class="flex-header">
            <h1>
                Edit UnKennyness Parameters
            </h1>
        </header>
    </section>
    <section>
        <div class='form-field'>
            <label>Alias</label>
            <input name="alias" type="text" value="{{alias}}" pattern="\w+">
        </div>

        <div class='form-field'>
            <label>Preamble</label>
            <textarea name="preamble" rows="15">{{preamble}}</textarea>
        </div>

        <div class='form-field'>
            <label>Overwrite model</label>
            <select name='model' class='form-control'>
                {{#each models}}
                <option value="{{this.path}}" {{#isSelected}}selected="selected" {{/isSelected}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>

        <div class='form-field'>
            <label>Overwrite minimum number of generated tokens</label>
            <input name="minNewTokens" type="number" value="{{minNewTokens}}" step="1">
        </div>

        <div class='form-field'>
            <label>Overwrite maximum number of generated tokens</label>
            <input name="maxNewTokens" type="number" value="{{maxNewTokens}}" step="1">
        </div>

        <div class='form-field'>
            <label>Overwrite Repetition Penalty</label>
            <input name="repetitionPenalty" type="number" step="0.01" value="{{repetitionPenalty}}">
        </div>

        <div class='form-field'>
            <label>Overwrite Temperature</label>
            <input name="temperature" type="number" step="0.01" value="{{repetitionPenalty}}">
        </div>

        <button type="submit">
            <i class="fa fa-check"></i>
            Save
        </button>
    </section>
</form>