<form class="flexcol" autocomplete="off">
    <section>
        <header class="flex-header">
            <h1>
                Edit UnKennyness Parameters
            </h1>
        </header>
    </section>
    <section>
        <div class='form-field'>
            <label>Alias</label>
            <input name="alias" type="text" value="{{alias}}" pattern="\w+">
        </div>

        <div class='form-field'>
            <label>Preamble</label>
            <textarea name="preamble" rows="15">{{preamble}}</textarea>
        </div>

        <div class='form-field'>
            <label>Model</label>
            <select name='model' class='form-control'>
                {{#each models}}
                <option value="{{this.path}}" {{#isSelected}}selected="selected" {{/isSelected}}>{{this.text}}</option>
                {{/each}}
            </select>
        </div>

        {{#if (eq llmType "api")}}
        <div class='form-field'>
            <label>OpenAI API Key</label>
            <input name="llmAPIKey" type="text" value="{{llmAPIKey}}">
        </div>
        {{/if}}

        <div class='form-field'>
            <label>Minimum number of generated tokens</label>
            <input name="minNewTokens" type="number" value="{{minNewTokens}}" step="1">
        </div>

        <div class='form-field'>
            <label>Maximum number of generated tokens</label>
            <input name="maxNewTokens" type="number" value="{{maxNewTokens}}" step="1">
        </div>

        <div class='form-field'>
            <label>Repetition Penalty</label>
            <input name="repetitionPenalty" type="number" step="0.01" value="{{repetitionPenalty}}">
        </div>

        <div class='form-field'>
            <label>Prefix response with "/talk" macro from "Talking Actors" module</label>
            <input name="prefixWithTalk" type="checkbox" {{#prefixWithTalk}}checked{{/prefixWithTalk}}>
        </div>

        <button type="submit">
            <i class="fa fa-check"></i>
            Save
        </button>
    </section>
</form>